*{
	font-family: 'Rubik', sans-serif;
}
body{
	background-color: #191919;
	color: whitesmoke;
}
#header{
    background-color: #080808;	
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    .nav{
        margin: auto;
        height: auto;
        width: auto;
        background-color: #080808;
    }
    .flecha{
            width: 40px;
        }
    .logo{
        margin-right: 200px;
    }
    .d:hover , #header .flecha:hover , .iniciar:hover , .logo:hover{
        transform: scale(1.15);
        transition: all 350ms ease-in-out;
    }
    .barra{
        margin-right: 250px;
    }
    .drop{
        margin-right: 100px;
    }
    .header-list{
        margin-left: 100px;
    }
    .d{
        color: whitesmoke;
        border: whitesmoke solid 2px;
    }
    .iniciar{
        width: 35px;
    }
    .directorio{
        border: none;
        -webkit-border-radius: 100px;
        border-radius: 100px;
    }
    .directorio ,:focus{
        transform: scale(1.05);
        transition: all 350ms ease-in-out;
        background-color: #292929;
        color: white;
    }
    .carrousel{
        width: 100%;
        height: 500px;
        border-bottom: 10px solid black;
    }
}
#contenido{
	display: flex;
	flex-direction: row;
    .animes-fotos{
        background-color: #131313;
        width: 70%;
        height: auto;
        border-top: solid black 8px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .imagenes-link{
        width: auto;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .imagenes-link:hover{
        transform: scale(1.07);
        transition: all 350ms ease-in-out;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding: 0;
    }
    .btn-secondary{
        height: 100%;
        background-color: #4d4d4d;
        border: none;
    }
    .animes-lista{
        background-color: #191919;
        width: 30%;
        border-left: solid black 8px;
        border-top: solid black 8px;
        padding-left: 25px;
        padding-top: 20px;
    }
    .lista-titulo{
        font-size: 18.4px;
        color: red;
    }
    .item-lista-contenido{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
#footer{
	width: 100%;
	height: 15vh;
	background-color: #080808;
    .footer-list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
    }
    .li-footer{
        margin-top: 6vh;
        margin-right: 25px;
    }
}
#sesion{
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
    .c-formulario-inicio-de-sesion{
        width: 65%;
        height: auto;
        background-color: #131313;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formulario-inicio-de-sesion{
        height: auto;
    }
    .inicio-de-sesion{
        margin-top: 60px;
        height: auto;
    }
    .rengoku-container{
        width: 50%;
    }
    .rengoku{
        width: 100%;
        height: 100%;
    }
}
#nosotros{
	width: auto;
	height: auto;
	background-color: #191919;
    .nosotros-titulo{
        color: red;
        font-size: 17px;
        margin-top: 25px;
        margin-left: 50px;
    }
    .nosotros-contenedor-de-texto{
        width: 83%;
        height: 67%;
        background-color: #080808;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 150px;
        margin-top: 45px;
        margin-bottom: 100px;
    }
    .texto{
        margin: 25px;
    }
}
#ayuda{
    width: auto;
    height: auto;
    background-color: #191919;
    display: flex;
    flex-direction: row;
    .contenedor-de-ayuda{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ayuda-lista li{
        list-style-type: none;
        margin-left: 200px;
        margin-bottom: 50px;
    }
    .contenedor-de-imagen-de-ayuda{
        width: 100%;
        height: 100%;
    }
    .hanako{
        width: 70%;
        height: auto;
        float: right;
    }
}
#registro{
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: auto;
    .registro-contenedor{
        background-color: #131313;
        line-height: 50px;
        height: auto;
    }
    .r{
        color: red; 
        margin-left: 220px; 
        border-top: 10px;
        margin-top: 40px;
    }
    .registro-formulario{
        margin-left: 225px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .reg{
        border: none;
        height: 25px;
        -webkit-border-radius: 50px 50px 50px;
        border-radius: 50px 50px 50px;
    }
    .reg :focus{
        transform: scale(1.05);
        transition: all 350ms ease-in-out;
        background-color: #292929;
        color: white;
    }   
}
#terminos{
	height: auto;
    .texterminos{
        width: 83%;
        height: auto;
        background-color: #080808;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 150px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .terminos-y-condiciones{
        margin-left: 50px;
    }
    .titulo-terminos{
        font-size: 17px;
        color: red;
    }
}
#contenido-animes{
    background-image: url(https://i.pinimg.com/originals/f6/57/58/f657583aed9c0db0596f02dbfdded84a.jpg);
    display: flex;
    flex-direction: row;
    .animes{
        width: 100%;
        margin-left: 20rem;
        margin-top: 5rem;
    }
    
    .bc{
        margin-top: 15px;
        margin-bottom: 100px;
        
        background-color: rgb(15, 15, 15);
        color: whitesmoke;
        border: none;
    }
    .bc:hover{
        transform: scale(1.1);
        transition: all 350ms ease-in-out;
    }
    .botones{
        margin-left: 30%;
    }
}


  @media all and (max-width: 600px){
        body{
        background-color: #191919;
        }
        #header{
            overflow: hidden;
            height: auto;
        .contenedorHeader{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin-left: 200px;
        }
        .barra{
            margin-left: 200px;
        }
        .drop{
            margin-left: 100px;
            margin-top: 10px;
        }
        .header-list{
            margin-top: 20px;
        }
        .logo{
            width: 150px;
            margin-left: 100px;
        }
        .directorio{
            width: 50px;
        }
        .iniciar{
            width: 35px;
        }
        .directorio-dos{
            width: 50px;
        }
        .d{
            width: 20%;
        }
        .celuHeader{
            color: whitesmoke;
        }
        .flecha{
            width: 40px;
        }
        .carrousel{
            height: auto;
        }
        }
        #contenido{
            display: flex;
            flex-direction: column; 
        .animes-fotos{
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            justify-content: center;

        }
        .imagenes-link{
            width: 100px !important;
            margin-left: 45px;
        }
        .card-body{
            width: 100%;
            height: auto;
        }
        .animes-lista {
		    overflow: hidden;
		    border: none;
		    width: 100%;
		}
        }
        #sesion{
        .c-formulario-inicio-de-sesion{
            width: 100%;
        }
        .rengoku-container{
            width: 0;
        }
        .formulario-inicio-de-sesion{
            margin-bottom: 20px;
        }
        }
        #registro{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 0;
        .registro-formulario{
            margin-left: 5px;
        }
        .r{
            color: red; 
            margin-left: 5px; 
            border-top: 10px;
        }
        }
        #nosotros{ 
        .nosotros-titulo{
            color: red;
            font-size: 15px;
            margin-top: 10px;
            margin-left: 60px;
        }
        .nosotros-contenedor-de-texto{
            font-size: 12px;
            width: 70%;
            height: auto;
            margin-left: 60px;
            margin-top: 10px;
        }
        }
        #ayuda{
            width: auto;
            height: 82vh;
            background-color: #191919;
            display: flex;
            flex-direction: row;
        .contenedor-de-ayuda{
            width: 100%;
            height: 82vh;
        }
        .ayuda-lista li{
            list-style-type: none;
			margin-left: 20px;
			margin-bottom: 50px; 
        }
        .contenedor-de-imagen-de-ayuda{
            width: 0;
        }		
        }
        #footer{
            height: auto;
            width: 100%;
        .fo{
            margin: 10px;
        }
        .footer-list{
            margin: 0;
            margin-right: 20px;
            flex-direction: column;
            justify-content: start;
        }
        .li-footer{
            margin-top: 1vh;
        }
        }
        #contenido-animes{
            background-image: none;
            background-color: #191919;
            .animes{
                margin-top: 10rem;
                margin-left: auto;
            }
            .bc{
                margin-bottom: 15rem;
            }
            .botones{
                margin-left: 0;
                flex-direction: row;
                justify-content: center;
            }
            .videito{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            .ytv{
                width: 100%;
                height: 350px;
            }
        }
        }

       